/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body{
  background-image: url(../img/blackjack.jpg);
  background-size: contain;
  text-align: center;
  width: 100%;

}
h1{
  font-size: 3rem;
}
h2{
  color: black;
}
h3{
  font-size: 3rem;
  color: white;
}
img{
  display: block;
  margin: 0 auto;

}

#cardSection{
  display: flex;
  justify-content: space-around;
}
button{
  padding: 10px;
  border-radius: 5px;
}
#player1, #player2{
  width: 60%;
}
/* @media screen and (max-width: 600px) {
  html{
    font-size: 10px;
  }
} */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
